<%- include('ek/header', {bot, user, path}) %>
<div class="info">
<div class="container">
	  	 <div class="jumbotron">
		<div align="center">
      <h3 style="color:#212121;"><b>Wenzy BotList</b></h3>
    </div>
    </div>
		<div align="center">
      <h3 style="color:#f44336">Her bota günlük 1 oy verebilirsin!</h3>
    </div>
</div>
</div></div></div>
<style>
  .info{
  margin: 50px;
  color: Black;
  line-height: 35px;
  margin-left: 20%;
  margin-top: -2%;
  }
</style>