<%- include('ek/header', {bot, user, path}) %>
<div class="info">
<div class="container">
		  	 <div class="jumbotron">
		<div align="center">
      <h3 style="color:#212121;"><b>Wenzy Bot List</b></h3>
    </div>
    </div>
		<div align="center">
      <form method="POST">
      <input class="ss" id="red-sebep" name="red-sebep" placeholder="Reddetme Sebebini Yzınız!" required>
   <br>
        <br>
        <button class="btn btn-danger" type="sumbit">Reddet</button>
      </form>
    </div>
</div>
</div>
<style>
  .info{
  margin: 50px;
  color: Black;
  line-height: 35px;
  margin-left: 20%;
  margin-top: -2%;
  }
    .ss{
            all: unset;
            background: #212121;
            border: 1px solid white;
            padding: 0.5em 4em;
            border-radius: 10px;
            display: inline-block;
            position: relative;
            transition: all 300ms ease;
      color: #fff;
  }
</style>