<%- include('ek/header', {bot, user, path}) %>
<div>
    <div class="nblana" align="left">
      <div class="nblin">
          	 <div class="jumbotron">
		<div align="center">
      <h3 style="color:#212121;"><b>Wenzy Bot List | Sertifika Bilgi</b></h3>
    </div>
    <br>    
    </div>
        <p align="center" style="margin-top:-100px;">
          <font color="#212121" size="3px">Botunuzun sertifika alabilmesi için 100 sunucuda bulunması gerekir. Eğer 100 sunucuda bulunuyorsa sunucudaki website yetkililerini etiketleyerek sertifika alabilirsiniz.<br> Creative Bot List iyi eğlenceler diler !!</font>
        <p>
      </div>
  </body>
      <style>
          .info{
  margin: 50px;
  color: Black;
  line-height: 35px;
  margin-left: 20%;
  margin-top: -2%;
  }
        .jumbotron {
          background: transparent;
        }
        </style>
