<%- include('ek/header', {bot, user, path}) %>
<div class="info">
	<div align="center">	
 	 <div class="jumbotron">
		<div align="center">
      <h3 style="color:#212121;"><b>Bot Silme</b></h3>
    </div>
    </div>
  <h4 align="center" style="color:#ef9a9a;margin-top:-100px;">
    <strong>Botu silmek istediğinden emin misin?
    </strong></h4>
     
     <p>
      Botu sistemden silmek için <a style="color:red">Sil</a> butonuna basınız!
       <br><br>
       <i><a style="color:red">Not:</a> Bot sistemden silindiğinde tekrar eklenebilir. </i>
     </p>
     
     <!--<h6 style="color:red">
       Şuan silme kapalıdır. Yapım aşamasındadır.
     </h6>-->
    
				<div align="center" style="width: 100%; text-align: left; margin-top: 20px;">
					<center><button id="botid" name="botid" value="<%=id%>" style="border-radius: 100px" type="submit" class="btn btn-danger"><i class="fa fa-remove fa-fw"></i> Sil<i aria-hidden='true'></i></button>
          </center></div>
		</div>
  </form>
    </div></div>
	</div>
<style>
  .info{
  margin: 50px;
  color: Black;
  line-height: 35px;
  margin-left: 20%;
  margin-top: -2%;
  }
</style>